<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/base}">
<body>
<div layout:fragment="css-title">
    <link rel="stylesheet" href="css/login-page.css">
    <title>Login Page</title>
</div>
<div layout:fragment="content">
    <img src="image/logo-devflix.png" class="logo-devflix" alt="devflix">
    <form id="inscrireForm">
        <h2 class="h2-connecter">Se Connecter</h2>
        <div class="name">
            <div class="container-label">
                <label for="nom">USER NAME</label>
            </div>
            <input type="text" placeholder="3 caractères minimum" id="nom" name="nom" class="input" required />
        </div>
        <div class="password">
            <div class="container-label">
                <label for="password">PASSWORD</label>
            </div>
            <input type="text" placeholder="Votre mot de passe" id="password" name="password" class="input" required />
        </div>
        <div class="button">
            <button type="submit" id="se-connecter">Connecter</button>
        </div>
    </form>
</div>
</body>
</html>