<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/base}">
<body>
<div layout:fragment="css-title">
  <title>Register</title>
  <link rel="stylesheet" href="css/register.css">
</div>
<div layout:fragment="content">
  <img src="image/logo-devflix.png" class="logo-devflix" alt="devflix">
  <form th:object="${membre}" method="post" th:action="@{/register}" id="inscrireForm">
    <div class="first-name">
      <div class="container-label">
        <label th:text="#{text.first.name}" for="first-name">FIRST NAME</label>
      </div>
      <input type="text" placeholder="first name" id="first-name" name="nom" class="input"/>
    </div>
    <div class="last-name">
      <div class="container-label"></div>
      <label th:text="#{text.last.name}" for="last-name">LAST NAME</label>
      <input th:field="*{nom}" type="text" id="last-name" placeholder="last-name" name="last-name" class="input"/>
    </div>
    <div class="email">
      <div class="container-label">
        <label th:text="#{text.enter.mail}" for="email">ENTER YOUR EMAIL</label>
      </div>
      <input type="text" placeholder="Votre email" id="email" name="email" class="input"/>
    </div>
    <div class="password">
      <div class="container-label">
        <label th:text="#{text.password}" for="password">PASSWORD</label>
      </div>
      <input type="text" placeholder="Votre mot de passe" id="password" name="password" class="input"/>
    </div>
    <div class="button">
      <button th:text="#{text.crea.account}" type="submit" value="Envoyer" id="creaCompte">Account creation</button>
      <button th:text="#{text.cancel}" type="reset" id="annuler">Cancel</button>
    </div>
  </form>
</div>
</body>
</html>