body,
html {
    background-color: #141414;
    margin: 0;
}

/*-------------------- BARRE HAUTE---------------------*/
.barre-haute {
    display: flex;
    align-items: center;
}

.nom-devflix {
    display: flex;
    flex-direction: column;
}

.nom-devflix-1 {
    font-family: 'poppins', sans-serif;
    color: #c6c6c6;
    font-weight: 500;
    font-style: italic;
    font-size: 0.8rem;
    margin-left: 6vw;
    margin-bottom: 0;
    margin-top: 2vh;
}

.nom-devflix-2 {
    font-family: 'poppins', sans-serif;
    color: #f31434;
    font-weight: 500;
    font-style: italic;
    font-size: 1.2rem;
    margin-left: 6vw;
    margin-top: 0;
}

.icone-loupe {
    height: 3vh;
    width: 6vw;
    margin-top: -1vh;
    margin-left: 52.5vw;
}

.icone-cloche {
    height: 3vh;
    width: 5vw;
    margin-left: 5vw;
    margin-top: -1vh;
}

/*-------------------- CAROUSEL ---------------------*/
.dev-uk-panel {
    width: 80vw;
    margin-left: 10vw;
}

.h1-carousel {
    text-align: start;
    font-family: 'poppins', sans-serif;
    color: #c6c6c6;
    font-weight: 500;
    font-style: italic;
    font-size: 1rem;
    margin-top: -11vh;
    margin-left: -12vh;
}
/*-------------------- SELECTION CATEGORIE ---------------------*/
nav {
    margin-top: 2vh;
    margin-left: 8vw;
    margin-bottom: 3vh;
}

.nav-item {
    font-family: 'poppins', sans-serif;
    color: #c6c6c6;
    font-weight: 500;
    font-size: 0.8rem;
    margin-left: 3vw;
    text-decoration: none;
}

.nav-item:hover,
.nav-item:focus {
    color: #f31434;
    text-decoration: none;
}

/*-------------------- TRENDING MOVIES ---------------------*/
.trending-movie-text {
    display: flex;
}

h2 {
    font-family: 'poppins', sans-serif;
    color: #c6c6c6;
    font-weight: 500;
    font-style: italic;
    font-size: 1rem;
    margin-left: 8vw;
    margin-top: 1.5vh;
    align-content: center;
}

.trending-movie-see-all {
    font-family: 'poppins', sans-serif;
    color: #f31434;
    font-weight: 500;
    font-style: italic;
    font-size: 1rem;
    margin-top: 1.45vh;
    margin-left: 38.5vw;
}

.trending-movie-picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mignon {
    width: 25vw;
    border-radius: 15%;
}

.civil-war {
    width: 25.3vw;
    border-radius: 15%;
}

.avenger {
    width: 23.8vw;
    border-radius: 15%;
}

.trending-movie-1 {
    margin-right: 4.5vw;
}

.trending-movie-2 {
    margin-right: 4.5vw;
}

.recommendation-text {
    display: flex;
    flex-direction: row;
}

.recommendation-see-all {
    font-family: 'poppins', sans-serif;
    color: #f31434;
    font-weight: 500;
    font-style: italic;
    font-size: 1rem;
    margin-top: 1.45vh;
    margin-left: 38.5vw;
}

/*-------------------- RECOMMENDATION ---------------------*/

.recommendation-movie-picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hunger-games-picture {
    width: 26vw;
    margin-right: 3vw;
    border-radius: 15%;
}

.seigneur-des-anneaux {
    width: 30vw;
    margin-right: 3vw;
    border-radius: 15%;
}

.the-meg-picture {
    width: 25vw;
    border-radius: 15%;
}

.rectangle {
    width: 100%;
    height: 14vh;
}

/*-------------------- FOOTER ---------------------*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3vh;
    background-color:black;
}

.footer-picture-home {
    height: 5vh;
    width: 8vw;
}

.footer-picture-discover {
    height: 5vh;
    width: 9vw;
}

.footer-picture-saved {
    height: 4vh;
    width: 6vw;
    margin-top: 1vh;
}

.footer-picture-profile {
    height: 4vh;
    width: 6vw;
    margin-top: 0.5vh;
}

.picture-home-fond {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-discover-fond {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-saved-fond {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-profile-fond {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-home {
    margin-right: 14vw;
    margin-top: 1.5vh;
}

.picture-discover {
    margin-right: 14vw;
    margin-top: 1.5vh;
}

.picture-saved {
    margin-right: 14vw;
    margin-top: 0.5vh;
}

.picture-profile {
    margin-top: 1.5vh;
}

.footer-text-home {
    font-family: 'poppins', sans-serif;
    color: #c6c6c6;
    font-weight: 500;
    font-style: italic;
    font-size: 0.8rem;
    margin-top: 0;
}

.footer-text-discover {
    font-family: 'poppins', sans-serif;
    color: #c6c6c6;
    font-weight: 500;
    font-style: italic;
    font-size: 0.8rem;
    margin-top: 0;
}

.footer-text-saved {
    font-family: 'poppins', sans-serif;
    color: #c6c6c6;
    font-weight: 500;
    font-style: italic;
    font-size: 0.8rem;
    margin-top: 1vh;
}

.footer-text-profile {
    font-family: 'poppins', sans-serif;
    color: #c6c6c6;
    font-weight: 500;
    font-style: italic;
    font-size: 0.8rem;
    margin-top: 0.5vh;
}