<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/base}">
<body>
<div layout:fragment="css-title">
    <link rel="stylesheet" href="css/home.css">
    <title>DEVFLIX</title>
</div>
<div layout:fragment="content">
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay: true autoplay-interval: 2000">
    <div class="uk-slider-items uk-grid">
        <div class="uk-width-3-4">
            <div class="uk-panel dev-uk-panel">
                <img src="image/jurassic-world-home.jpg" width="100%" height="50px" alt="">
                <div class="uk-position-center uk-panel"><h1 class="h1-carousel">Don't miss the next Jurassic World</h1></div>
            </div>
        </div>
        <div class="uk-width-3-4">
            <div class="uk-panel dev-uk-panel">
                <img src="image/Godzilla-picture.jpg" width="600" height="400" alt="">
                <div class="uk-position-center uk-panel"><h1 class="h1-carousel">Don't miss the next GodZilla</h1></div>
            </div>
        </div>
        <div class="uk-width-3-4">
            <div class="uk-panel dev-uk-panel">
                <img src="image/menace-fantome-picture.jpg" width="600" height="400" alt="">
                <div class="uk-position-center uk-panel"><h1 class="h1-carousel">Don't miss the next Star Wars</h1></div>
            </div>
        </div>
    </div>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slider-item="next"></a>
    </div>
        <nav>
        <a href="ListOfMovies" class="nav-item">ALL</a>
        <a href="ListOfMovies" class="nav-item">Action</a>
        <a href="ListOfMovies" class="nav-item">Fantastic</a>
        <a href="ListOfMovies" class="nav-item">Dramas</a>
        <a href="ListOfMovies" class="nav-item">Comedy</a>
        <a href="ListOfMovies" class="nav-item">Horror</a>
    </nav>
    <div class="trending-movie-text">
        <h2>Trending Movies</h2>
        <p class="trending-movie-see-all">See All</p>
    </div>
    <div class="trending-movie-picture">
        <div class="trending-movie-1">
            <img class="mignon" src="image/moi-moche-et-mechant-4.jpeg" alt="mignon">
        </div>
        <div class="trending-movie-2">
            <img class="civil-war" src="image/civil-war-picture.jpeg" alt="civil-war">
        </div>
        <div class="trending-movie-3">
            <img class="avenger" src="image/avenger-picture.jpg" alt="avenger">
        </div>
    </div>
    <div class="recommendation-text">
        <h2>Recommendation</h2>
        <p class="recommendation-see-all">See All</p>
    </div>
    <div class="recommendation-movie-picture">
        <div class="recommendation-movie-1">
            <img class="hunger-games-picture" src="image/hunger-games-picture.jpg" alt="hunger-games">
        </div>
        <div class="recommendation-movie-2">
            <img class="seigneur-des-anneaux" src="image/seigneur-des-anneaux.jpg" alt="seigneur-des-anneaux">
        </div>
        <div class="recommendation-movie-3">
            <img class="the-meg-picture" src="image/the-meg-picture.jpg" alt="the-meg">
        </div>
    </div>
    <div class="rectangle"></div>
</div>
</body>
</html>