<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/base}">
<body>
<div layout:fragment="css-title">
    <title>DEVFLIX-MOVIE-LIST</title>
    <link rel="stylesheet" href="css/movie-list.css">
</div>
<div layout:fragment="content">
    <div class="container">
        <h1 th:text="#{texte.the.movie}" class="h1-text">The Movies</h1>
        <div class="movie-container">
            <div th:each="movie : ${movies}" class="uk-padding-small container-card">
                <a th:href="@{'/movie-detail/' + ${movie.id}}" class="eni-movie-card-click">
                    <div class="picture-card" th:style="'background-image: url(' + @{${movie.urlImage}} + ');'">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="rectangle"></div>
</div>
</body>
</html>